<h3>Description: {{model.description}}</h3>
<ul class="inside">
  <li class="inside">Quantity: {{model.quantity}}</li>
  <li class="inside">Brand: {{model.brand}}</li>
  <li class="inside">Type: {{model.type}}</li>
</ul>
